gevent
topia.termextract
BeautifulSoup
html2text
urllib3
numpy
celery
kombu>=3.0.10
python-dateutil
billiard>=3.3.0.14
celery-with-mongodb
cyclone
git+https://github.com/hmarr/mongoengine.git
ipython
requests
beautifulsoup4
xmltodict
boto
flask
mongoengine
pymongo
distribute>=0.7
#monitor for celery
flower

#machine learning libs
scipy
scikit-learn==0.14.1

#rdf
rdflib

#nlp
nltk
PyYAML
pymongo_hadoop
textblob
textblob-aptagger

#api
bottle
#bottle-api-json-formatting
cherrypy

#argument parsing
docopt

#fitbit
ipaddr
git+https://github.com/ixalarx/python-fitbit.git

#docs
sphinxcontrib-httpdomain

#bloom filter
zope.interface
pybloomfiltermmap

#caching
pylibmc
redis
Redis-Semaphore==0.1.0

python-slugify
twilio
six
